h1 {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

h5 {
    display: block;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    color:#FFFFFF;
    text-align: center;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom:auto;
}

p {
    font-family: 'Lato', sans-serif;
    font-size:20px;
}

li{
    font-family: 'Lato', sans-serif;
    font-size:20px;
}
footer{
    background-color: #5A7D81;
}

button {
    display: block;
    height: 55px;
    width: 200px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size:20px;
}

button.arrow{
        cursor: pointer;
        width: 120px;
        height: 120px;
        border-color: #000000;
        border-radius: 60px;
}

a.button {
    text-decoration: none;
}

a:link{
    font-family: 'Lato', sans-serif;
    font-size:20px;
    color:#312E2E;
    opacity: 0,7;
}

a:visited{
    font-family: 'Lato', sans-serif;
    font-size:20px;
    color:#312E2E;
    opacity: 0,7;
}

a:hover{
    font-family: 'Lato', sans-serif;
    font-size:20px;
    color:#312E2E;
    opacity: 0,7;
}

img{
    margin-right: 15px; 
    margin-bottom: 8px;
    border: 1px solid silver;
    background: white; 
    padding: 4px;
}